@import "App";

.master {
  padding: 20px;
  background-color: $darker-color;
  overflow-y: scroll;
  height: 100%;
}

.striped {
  background-color: $darker-color;

  .playlistItem:nth-child(odd) {
    background-color: $base-color; /* White background for odd rows (default) */
  }
}
