@import "App";

.playlistItem {
  display: flex;

  background-color: $base-color;

  &:nth-child(odd) {
    background-color: $darker-color;
  }

  &:hover {
    background-color: $highlight;
  }

  margin-bottom: 10px;
}
