@font-face {
  font-family: "Ideal";
  src: local("Ideal"), url("../fonts/Ideal.woff") format("woff");
}

$base-color: #1d2d44;
$highlight: #748cab;
$lighter-color: #3e5c76;
$darker-color: #0d1321;
$text-color: #f0ebd8;
$secondary-color: #f0ebd8;
$tertiary-color: #c5c0ae;

* {
  font-family: Ideal;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0px;
}
p {
  margin-bottom: 0px;
}
a {
  color: $secondary-color;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: $base-color;
  font-family: Ideal, sans-serif;
  text-align: left;
  height: 100vh;
  color: $secondary-color;
}

.App-header {
  background-color: $darker-color;
  display: flex;
  flex-direction: row;
  min-height: 50px;
  align-items: center;
  justify-content: space-between;
  // border: 1px solid white;

  // * {
  //   margin: 10px;
  // }
}

.App-main {
  margin-top: 20px;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  height: 0;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header-button {
  background-color: $darker-color;
  padding: 10px;
  cursor: default;
  align-self: flex-start;
  font-size: 20px;

  &:hover {
    background-color: $highlight;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
