@import "App";

.player {
  padding: 20px;

  background-color: $darker-color;
  border-radius: 10px;
}

.progressbar {
  display: flex;
  gap: 5px;
  align-items: center;
}

.progress {
  border-radius: 3px;
  width: 50px;
  height: 100%;
  background-color: darkred;
}

.capacity {
  border-radius: 3px;
  width: 100%;
  height: 6px;
  background-color: $base-color;
}

.controls {
  margin-top: 10px;
  * {
    vertical-align: middle;
  }
}

.play {
  display: inline-block;
}

.hover:hover {
  color: gray;
}
