@import "App";

* {
  box-sizing: border-box;
}

.detail {
  display: flex;
  height: 100%;

  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.playlistQueue {
  border-radius: 10px;
  background-color: $darker-color;
}
